[2014-05-20 10:11] henkmollema opened #3 "Validate duplicate property maps"
When a `PropertyMap` is added for an `EntityMap`, the mapping should be checked for multiple mappings on the same property.

[2014-05-20 10:17] henkmollema opened #4 "Unit testing"
The app should have unit tests to test mappings etc.

[2014-05-21 12:49] henkmollema opened #5 "Multiple properties with same column name causes exception"
For example these models:

[code]

With this convention:

[code]

Causes an exception which tells you that duplicate mappings are found for the column `autID` since it finds the `PropertyMap` instance for `Order` and `Product`. A check for the property type should be added to the filter predicate.

[2014-05-21 13:11] #5 closed, assigned to nobody

[2014-05-23 07:48] henkmollema opened #6 "Add property name transform configuration for conventions"
When creating a convention, one should be able to configure a property name transformation. Example using regex:

[code]

There should also be some built-in transformations.

[2014-06-05 18:53] #6 closed, assigned to nobody

[2014-06-05 18:53] henkmollema opened #10 "Add built-in convention transformations"

[2014-06-16 20:22] GeekSage opened #11 "Question: Case insensitive mapping"
How would you (or is there currently a way) to do a case insensitive match using the "ToColumn" method when creating a map?

ie. I have something like:
Map(p => p.ServiceDate).ToColumn("svc_date");

But the table column is actually SVC_DATE... Is there a way to ignore the case during that match?  Thanks in advance for any assistance and thank you for putting this project up.

[2014-06-21 12:26] #3 closed, assigned to henkmollema

[2014-06-21 12:27] henkmollema opened #12 "Add support for Dommel"
Create implementations for the `IKeyPropertyResolver`, `ITableNameResolver` and `IColumnNameResolver` interfaces of [Dommel](https://github.com/HenkMollema/Dommel) using the configured mappings.

Tasks:
- [x] `DommelKeyPropertyResolver`
- [x] `DommelTableNameResolver`
- [x] `DommelColumnNameResolver`
- [x] Update readme.md

[2014-06-23 10:51] #11 closed, assigned to henkmollema

[2014-06-27 11:00] #12 closed, assigned to henkmollema

[2014-07-16 21:25] henkmollema opened #14 "Build for .NET 3.5"
- [x] Code should build on .NET 3.5
- [x] Create .csproj for .NET 3.5
- [x] Deploy assemblies in `lib/net35` and `lib/net40`

[2014-07-17 18:30] #14 closed, assigned to henkmollema

[2014-07-30 13:58] #4 closed, assigned to henkmollema

[2014-11-11 20:56] henkmollema opened #16 "NotImplementedExcetion thrown by 'FindExplicitConstructor' in FluentMapTypeMap"
Dapper.FluentMap throws the following exception:

when configuring a manual mapping:

[code]

using the following mapping strategy:

[code]

[2014-11-12 09:20] #16 closed, assigned to henkmollema

[2014-12-04 12:27] henkmollema opened #18 "Dapper.FluentMap.Dommel implemenation of IPropertyResolver"
The Dommel extension of Dapper.FluentMap needs an implementation of the `IPropertyResolver` interface, which should take `Ignore`  into account.

[2015-01-21 09:50] #18 closed

[2015-01-21 09:52] henkmollema commented on #18
Deployed new version to [NuGet](https://www.nuget.org/packages/Dapper.FluentMap.Dommel/1.1.0).

[2015-01-27 00:51] Gimmeaphatbeat opened #20 "Transformations are case sensitive"
In the Transformations example... if the database column is lower case, like "hello_world", and the POCO is HelloWorld, the property is never populated.

However if the database column is "Hello_World" then it works.

Is this to be expected? If so, what is the solution to be able to map a POCO property HelloWorld to hello_world column?

[2015-01-27 08:08] Gimmeaphatbeat commented on #20
(I'm referring to the regex transformations example in the readme)

[2015-01-27 18:19] henkmollema commented on #20
You can just call `ToLower()` after `Regex.Replace()`:

[code]

[2015-01-28 08:53] Gimmeaphatbeat commented on #20
Thanks, that's excellent. I guess if you specify lowercase it becomes case insenstive?

This probably isn't the right place to ask this question, but is it possible to map a POCO to *either* underscore *or* CamelCase? So the POCO would be CamelCase, and the database column could be camel_case or CamelCase, and Dapper would map to either one.

[2015-01-28 09:53] henkmollema commented on #20
It's not really case-insensitive as it will try to find an exact match for `"hello_world"`. I guess I have to look into this (and create some tests too).

As for the multiple column name mappings: this is currently not supported, but think it's a a nice feature.

[2015-01-28 09:56] henkmollema opened #21 "Multiple conventions for a single property"
A user should be able to define conventions which apply on a single property of a POCO.

For instance:
[code]

Where `HelloWorld` should map to either `"hello_world"` or `"HelloWorld"`.

Possible solutions:
- Just add a fallback mapping to the name of the property and just one convention per property.
- Support multiple conventions which apply on one property and add a fallback to the name of the

[2015-01-28 10:04] henkmollema commented on #20
Multiple conventions issue: #21

[2015-01-28 19:22] Gimmeaphatbeat commented on #20
Actually this seems to be the behavior of it, using the regex example.

So a POCO property HelloWorld already maps to db columns:
-hello_world
-Hello_World
-helloworld

[2015-01-30 10:01] Gimmeaphatbeat opened #22 "Conventions not working on 'Multiple Results'"
Taken from the main Dapper Readme:

[code]

If you have conventions defined (e.g. the regex example on the FluentMap Readme), the columns don't get mapped in any of the resulting POCOs.

[2015-01-30 11:14] henkmollema commented on #22
I see you closed it, is this an issue or not?

[2015-01-30 11:39] Gimmeaphatbeat commented on #22
@henkmollema sorry, I'd misinterpreted the cause of the problem, I've edited the issue now.

[2015-01-30 11:46] Gimmeaphatbeat commented on #22
And now it seems to be working... sorry... I'll close it until I know what's going on for sure.

[2015-01-31 22:23] Gimmeaphatbeat opened #23 "ForEntitiesInCurrentAssembly - namespaces is NOT optional (it should be)"
The 'namespaces' parameter on the `ForEntitiesInCurrentAssembly` is required, otherwise the conventions don't work.

[2015-02-04 14:36] #23 closed

[2015-02-04 17:25] #20 closed

[2015-02-04 17:32] henkmollema commented on #21
Multiple convention configurations can be applied to a single property and when no match is found, the `DefaultTypeMap` of Dapper is used.

[2015-02-04 17:32] #21 closed

[2015-02-04 17:48] henkmollema commented on #22
I got this working with the following entites:

[code]

This convention:
[code]

And this query:
[code]

Could you be more specific about what is going wrong?

[2015-02-11 13:35] henkmollema commented on #22
@Gimmeaphatbeat could you help me out on this?

[2015-02-19 08:21] henkmollema commented on #22
I'm closing this for now. If you have more information, feel free re-open it.

cc @Gimmeaphatbeat

[2015-02-19 08:21] #22 closed

[2015-03-03 15:00] henkmollema opened #25 "KeyNotFound exception in Dommel resolvers"
Accessing an entity map for a type which has not entity map results in a `KeyNotFound` exception due to the fact that an indexer is used without a `ContainsKey` check:

[code]

`TryGetValue` should be used here.

[2015-03-03 15:16] henkmollema opened #26 "Implement fallback for Dommel resolvers"
Currently, when no entity mapping is found for a type, an exception is thrown. When a resolver implementation returns `null` or `string.Empty`, the default resolver should be used.

- [ ] Make default resolver implementations public in Dommel
- [ ] Change `Resolver` class methods to use the default implementation as fallback

[2015-03-05 08:47] henkmollema opened #27 "Typo in FluentMapper.Intialize"
Should be `Initialize`.

[2015-03-12 16:15] #26 closed

[2015-03-12 16:15] #27 closed

[2015-03-12 16:16] henkmollema commented on #25
Fixed with 7ea72fca1ad1a3f5b8dbecbd8572dd9d4449eee1.

[2015-03-12 16:16] #25 closed

[2015-03-13 08:11] henkmollema opened #28 "Deploy v1.3.4"

[2015-03-13 09:19] #28 closed

[2015-04-21 06:41] fichtenelch75 opened #29 "Mapping fails on inherited properties"
I noticed that inherited properties are not mapped by fluent mapper. Debugging led me to line 45 in the file "src\Dapper.FluentMap\TypeMaps\FluentConventionTypeMap.cs"

Changing

    .Where(map => map.PropertyInfo.DeclaringType == type &&

to

    .Where(map => map.PropertyInfo.ReflectedType == type &&

fixes the problem

[2015-04-21 07:01] henkmollema commented on #29
@fichtenelch75  could you provide a repro sample of your derived entities and the convention?

[2015-04-21 07:10] henkmollema commented on #29
This is the same issue as mentioned in #24. Completely forgot about it. I'll commit a fix soon.

[2015-04-21 07:14] #29 closed

[2015-05-01 14:06] zakwillis commented on #10
Hi there, I just wrote a regular expression for handling this. Most Oracle databases, tends to have upper case and underscore separators as a naming convention, and most POCO developers in C# tends to use Pascal casing.
Oracle = COLUMN_NAME
POCO = ColumnName
The convention regular expression that I added was as follows.

Regex.Replace(s, @"(?ms-inx:((?<=.{1})(.{1})(?=[A-Z])))", @"$+_").ToUpper()

[2015-05-01 14:08] henkmollema commented on #10
There is already an example in the readme: https://github.com/henkmollema/Dapper-FluentMap#transformations.

It basically does the same, except for the upper casing. That is fixed by added `.ToUpper()` after the `Transform()` method.

[2015-05-02 11:23] zakwillis commented on #10
Hi again, with the Microsoft.Net implementation of regular expressions, it is better to put the options inside the regular expression than to rely on doing this inside the C# Regex options. I use a really good free tool for building regular expressions called Expresso, it even handles the substitution pieces. The regular expression provided ignores the first character, and then finds the character

[2015-05-07 07:33] splattne commented on #29
Could you please deploy this fix as a new version of the library and update the NuGet package as well? That would be aewsome. Thanks!

[2015-05-29 13:49] henkmollema opened #30 "Dommel foreign key property resolver"
https://github.com/henkmollema/Dommel/issues/28

[2015-10-26 15:30] henkmollema opened #33 "Port to .NET Core"
Port the application to DNX.

[2015-12-30 22:48] tablesaw commented on #20
Dapper supports mapping ignoring underscores and case. Just add this:

`Dapper.DefaultTypeMap.MatchNamesWithUnderscores = true;`

(Commenting here because I landed on this page in my search to figure it out.)

[2016-01-16 07:40] Gonkers commented on #33
:+1: I like the sounds of this. Thanks for putting it on your list.

```The dependency Dapper.FluentMap 1.4.0 does not support framework .NETPlatform,Version=v5.4.```

[2016-01-16 08:34] henkmollema commented on #33
@Gonkers I've started working the v2 in the [corresponding branch](https://github.com/HenkMollema/Dapper-FluentMap/tree/v2). However I've ran into an issue where `DefaultTypeMap` was not public anymore. This issue have been [fixed](https://github.com/StackExchange/dapper-dot-net/commit/9feabe5632ead36b5b03a01df121f8ecfc30d0be) and I will continue working on it.

[2016-01-16 09:30] henkmollema commented on #33
@Gonkers I've uploaded a first beta version of v2: https://www.nuget.org/packages/Dapper.FluentMap/2.0.0-beta-1

There is a known bug with mapping properties from derived types, but most of the other functionality should work.

[2016-01-25 07:14] Gonkers commented on #33
So far it looks good. Thanks!

[2016-05-26 17:13] richarddavenport opened #38 "Can't seem to get it to work..."
Here's my model:

[code]

Here's my map:

[code]

Here's my sql

[code]

Using OWIN I have a startup.cs and I'm calling FluentMapper.Initialize() in there, like this:

[code]

My model gets serialized as all null values.

[2016-07-07 19:02] henkmollema opened #41 "Fix Linux build"

[2016-07-08 06:26] henkmollema commented on #33
.NET Core RTM package pushed to NuGet: https://www.nuget.org/packages/Dapper.FluentMap/1.5.1

[2016-07-08 06:26] #33 closed

[2016-08-09 17:08] cpisto opened #42 "1.5.* fails with Dapper multi mapping where 1.4.1 works"
On .net 4.5.2 (Dapper 1.50.2), Dapper.FluentMap 1.5.0 and 1.5.1 using the PropertyTransformConvention from the readme applied via:

[code]

in conjunction with Dapper multi mapping throws an exception:

Works perfectly with 1.4.1 and below.

[2016-08-10 12:55] Darkwind791 opened #43 "Does not appear to work with QueryMultiple and .Read<>"
When using Dapper QueryMultiple, it appears the mapped columns are not working.

In my case QueryMultiple returns 3 tables.

[code]

Class is as below :

[code]

Mapping :

[code]

Config :

[code]

The columns that match name for name for example DisplayName all get their correct values from Dapper, the mapped columns appear to be getting the defaults for their type, strings empty, bools false an

[2016-08-11 16:14] cpisto commented on #43
I'm seeing something similar with multi-mapping as well. Could be related to #42

[2016-08-16 07:19] henkmollema commented on #42
That's odd. Nothing should have changed there. Does your entity and database table still looks the same?

[2016-08-16 07:20] henkmollema commented on #43
@Darkwind791 as @cpisto mentiond, would you mind testin this against v1.4.1?

[2016-08-16 07:22] henkmollema commented on #38
@richarddavenport how do you execute the query with Dapper?

[2016-08-16 15:18] cpisto commented on #42
Yes everything is the same, swapping 1.5.* for 1.4.1 fixes the issue.

In my example, both tables have an id column, however only one of the entities being multi-mapped has a matching Id property.

I will try to find time to build a specific test case later this week.

[2016-08-19 13:16] Darkwind791 commented on #43
Hey, sorry haven't had the time to check this out yet, will do so this evening when I get home and update.

[2016-09-20 01:32] schild opened #45 "how to map nested class"
i try to create mapper like

[code]

the class Words have a property which is a list object,
i found I cannot mapper it ,and maybe i  need use `where(p=>p.perpertyName).tocolumn("alias")`?

[2016-10-05 19:31] richarddavenport commented on #38
Like this:
[code]

[2016-10-05 19:50] richarddavenport commented on #38
So I tried using the generic query like this:
[code]
And I now get results! But now I'm not sure how to cast the dynamic list to an `IEnumerable<HouseAccount>`

I get a cast error when I use `(IEnumerable<HouseAccount>)data`

[2016-10-08 18:07] #41 closed

[2016-10-23 07:35] henkmollema commented on #38
@richarddavenport in your `HouseAccountMap` you have this method:
[code]

But that should be the constructor of the `HouseAccountMap` for the mapping to work, like this:
[code]

[2016-11-30 18:40] EduardoPires opened #46 "Error mapping some value object"
The entire explanation can be found here:
http://stackoverflow.com/questions/40881195/mapping-value-objects-with-dapper

I'm trying to map a value object to my domain model. This nested VO isn't a table is just a VO in my rich domain. Simplified scenario when I get the error at application startup:
[code]
I always receive the same error at application initialization:

**Index was outside the bound

[2016-12-14 18:50] bengavin commented on #42
We are seeing a similar issue when moving to 1.5.1 from 1.4.x, in our case, it seems to be directly related to inheritance hierarchies.  When we register a global property prefix, we're seeing the duplicate property map error showing up.  Commenting out the ForEntity<> for the derived classes (or base class) makes the problem go away, but prevents the conventions from apply to those excluded entit

[2017-02-27 14:04] g-adolph commented on #46
Hey guys actually i use this solution to fix this problem.
I think this isn't a solution but maybe a good point to start to fix the problem.
I think fluent mapper must have a more sophisticated reflection algorithms do to this.

[https://gist.github.com/g-adolph/f0eb5b977006b96e12dff27c4e61212f](url)

[2017-03-03 09:12] EduardoPires commented on #46
@g-adolph Your gist isn't available :(

[2017-03-03 11:49] henkmollema commented on #46
Try copying the link: https://gist.github.com/g-adolph/f0eb5b977006b96e12dff27c4e61212f

[2017-03-15 22:34] yohanmishkin opened #49 "'Invalid column name' error for ignored columns during UpdateAsync()"
I'm executing `UpdateAsync()` on a really basic object having also added a map that ignores 3 columns, but I'm still getting the `invalid column name` error. `FluentMapper.Initialize` was called beforehand and I see the mapping when calling Dapper's `SqlMapper.GetTypeMap()`. Any ideas?

[2017-03-20 11:35] g-adolph commented on #46
@henkmollema, if I do a pull request fixing this issue will be accept? I fixed this issue and created a few tests.

[2017-03-20 12:09] henkmollema commented on #49
What is `UpdateAsync()`? That's not part of this library.

[2017-03-20 12:10] henkmollema commented on #46
@g-adolph I guess I'll take this PR in. If you would like to make one, please do.

[2017-03-20 14:29] yohanmishkin commented on #49
`UpdateAsync()` is a Dapper.Contrib method. I didn't realize FluentMap doesn't work with Contrib. Apologies.

[2017-03-20 14:29] #49 closed

[2017-03-30 08:27] fassergey opened #51 "Mapping DB fields with spaces in their names"
Hi there. I tried to map with conventions fields which are returns by stored procedure. It was not successful. Please pay attention to this problem.
[code]

In the DB the fields Race_Date1Time and Race_Name have original names "Race date/time" and "Race Name". Thank you.

[2017-04-03 12:24] shubhapillai opened #52 "Strong named assembly"
Hello
I am experiencing difficulty using the library within a strong named assembly for it not being signed. I had the same issue with Dapper but with the new version of Dapper.Strongname I overcame it. But the FluentMap library does not seem to provide a version that works with the strong named Dapper. Would it be possible to get one in place?

Thanks and Regards
Shubha

[2017-04-04 18:52] jbowen014 commented on #46
I'm having the same issue. Is there an ETA on a release for this fix?

Thank you.

[2017-04-24 22:10] riguelbf opened #53 "Unable to map entity to insert and update"
[code]

[code]

It's correct??

[2017-04-25 11:51] henkmollema commented on #53
That seems correct, yes. What is the problem here?

[2017-04-25 11:52] henkmollema commented on #38
Closing this for now. Please re-open if it's still an issue.

[2017-04-25 11:52] #38 closed

[2017-04-25 11:54] henkmollema commented on #52
@shubhapillai perhaps [StrongNamer](https://www.nuget.org/packages/StrongNamer/) works for you?

[2017-04-25 11:57] henkmollema commented on #51
What's not 'sucessful'? Did the mapping not work? Did you receive an error? Please try and debug the transformation you defined.

[2017-04-25 12:01] riguelbf commented on #53
trying save and update data in store the library don't mapping class object to ansi query

this is result  query building by library :
`set nocount on insert into inventory_movement_types () values () select cast(scope_identity() as int)`

is not building table fields and values

[2017-04-25 12:06] henkmollema commented on #53
That seems like a Dommel issue. What package versions are you using. And are you using SQL Server?

[2017-04-25 12:20] riguelbf commented on #53
I'm using lastest package version(1.4.5) Dapper.FluentMapper.Dommel and Sql Server 2008/R2

[2017-04-25 13:12] riguelbf commented on #53
`    string sql;
            if (!_insertQueryCache.TryGetValue(type, out sql))
            {
                var tableName = Resolvers.Table(type);

                bool isIdentity;
                var keyProperty = Resolvers.KeyProperty(type, out isIdentity);

                var typeProperties = new List<PropertyInfo>();
                foreach (var typeProperty in Resolvers.Properties(type))

[2017-04-25 13:30] henkmollema commented on #53
I see, Dommel (Dapper actually) needs a public setter on a property to write values back to it. It doesn't make a lot of sense with an insert operation though. Are you able to add public setters to your properties?

[2017-04-25 13:41] riguelbf commented on #53
on my logic is not idea, but dapper required i go rewrite my implementation . Thanks for help me

[2017-04-25 13:42] henkmollema commented on #53
All right, good luck!

[2017-04-25 13:42] #53 closed

[2017-04-25 13:49] riguelbf commented on #53
Thank's and congratulation by project!

[2017-06-19 23:01] ryudice opened #54 "Mapping of byte arrays doesnt work"
For some reason mapping of byte arrays seem to be ignore when inserting new records.

[2017-06-20 08:17] henkmollema commented on #54
This is a Dommel issue.
https://github.com/henkmollema/Dommel/issues/67

[2017-06-20 08:17] #54 closed

[2017-07-04 13:15] orenht opened #55 "Is there a way to insert a POCO without Dommel?"
I couldn't find a way.

Thanks

[2017-07-24 07:54] orenht opened #56 "Exception when mapping an inherited property in a derived object"
Hi,

I have a type B that inherits from type A, and a Property P defined in A.
When I try to map that property in type B, an exception is thrown at the DommelColumnNameResolver, that the key is not present in the entity maps dictionary.

I suggest that instead of using the DeclaringType for the lookup, use the ReflectedType.

Maybe this issue exists in other places too, I haven't checked.

[2017-07-24 08:06] orenht opened #57 "Dommel doesn't handle ignored properties when inserting"
When I mark a property with .Ignore() in the map, dommel doesn't handle this in the insert method, and there is an exception.

It should have a condition in the Linq expression that excludes ignored properties.

[2017-07-24 08:13] henkmollema commented on #56
That is indeed a known issue. However, [`ReflectedType`](https://apisof.net/catalog/System.Type.ReflectedType) is not available in .NET Standard 1.3 (which Dapper.FluentMap and Dommel) targets. A future version might target .NET Standerd 2.0 which allows us to use `RefelectedType` again.

[2017-07-24 08:14] henkmollema commented on #55
What do you mean, "without Dommel"? The only thing Dapper.FluentMap does for you is create a mapping betwoon POCO properties and column names. It does not generate any query, that's what Dommel does for you.

[2017-07-24 08:31] henkmollema commented on #57
That's because Dommel does not implement the mapping defined in Dapper.FluentMap (yet). Dapper.FluentMap.Dommel should implement the query builder of Dommel and use the defined mapping to determine whether the property should be ignored.

[2017-07-24 09:03] orenht commented on #55
Yeah, I meant how do you write the query after the mapping, because I didn't see documentation about it.

[2017-07-24 11:41] orenht commented on #57
So do you have an alternate solution if I want to ignore a property?

[2017-07-24 11:59] henkmollema commented on #57
You could create your own implementation of `ISqlBuilder` and use the mappings from Dapper.FluentMap to filter the column names added to the query.

https://github.com/henkmollema/Dommel/blob/master/src/Dommel/DommelMapper.cs#L2024 shows the default implementation of the SQL Server query builder.

[2017-07-25 17:24] #52 closed

[2017-08-08 17:21] nicolastakashi commented on #46
Some news about it?

[2017-08-08 18:23] nicolastakashi commented on #46
Gentlemen!

Based on the discussion we had here in this thread, I took the liberty of looking at the code that @g-adolph put into the gist and implemented it.

I wrote some tests and it seems that everything really works as it should, I did this because talking to several friends of the software community including @EduardoPires we think that this bug is of great importance for the mapping of valu

[2017-08-09 17:42] #46 closed

[2017-08-17 15:08] nicolastakashi opened #59 "Port to .NET Standard 2.0"
Port the application to .NET Standard 2.0

[2017-08-17 21:22] henkmollema commented on #59
We already target
NET Standard 1.3. We don't need any API in 2.0, so it will not give us any benefit. Is there a specific reason you would want this?

[2017-08-22 06:59] henkmollema commented on #59
Feel free to re-open this if you have any questions left.

[2017-08-22 06:59] #59 closed

[2017-08-22 07:01] henkmollema commented on #45
I'm not sure what you're asking. Please elaborate on what you are trying to do. If this is still an issue, feel free to re-open it.

[2017-08-22 07:01] #45 closed

[2017-08-22 07:02] henkmollema commented on #51
I'm going to close this as it's unclear what's going wrong. Please re-open the issue if you like.

[2017-08-22 07:02] #51 closed

[2017-08-22 07:02] henkmollema commented on #55
I'm still not sure what you're asking. Please re-open the issue if you think this is still an issue and you can elaborate on it.

[2017-08-22 07:02] #55 closed

[2017-08-22 08:48] henkmollema opened #62 "Dapper.FluentMap v2"
v2 of Dapper.FluentMap will bring several new features and bugfixes while maintaining a simple API.

### Improved configuration
- More flexibility
- Inline mapping builder (separate classes are still supported as well)
- Better testability
- Easier transformation convention setup

### Remove use of `ReflectedType` and `DeclaringType`
`ReflectedType` is inconsistent and is not available on .NET Sta

[2017-09-04 22:13] nicolastakashi commented on #62
It would be very good if we had the possibility to perform a mapping of 1 -> N

Initially, It could be could only follow first-level mapping.

For example

[code]

[2017-09-04 22:14] nicolastakashi opened #63 "Mapping one to many"
It would be very good if we had the possibility to perform a mapping of 1 -> N

Initially, It could be could only follow first-level mapping.

For example

[code]

[2017-09-04 22:16] nicolastakashi commented on #62
I opened a one-to-many mapping issue #63  that I think would be great if we had it available in this next release.

[2017-09-04 22:31] jr-araujo commented on #63
It would be awesome whether this feature was implemented in Dapper.FluentMap. Why? It's so bad when you've an one-to-many situation and, using actual Dapper or Dapper.FluentMap - you're obligated to manually implement the fulfill a 'N' data collection from one-to-many relationship.

So, this feature will be GREAT handful, whether this is implemented.

[2017-09-11 17:36] henkmollema commented on #63
Please help me understand. Why won't this work when you define a mapping for `User and `Profile`?

[2017-10-04 02:16] jr-araujo commented on #63
@henkmollema What I mean is when you have a situation where the database mapping is one-to-many, like this:

**Order** and  **OrderItem**, right? (I won't explicit all properties to keep easy the explanation), that is mean that you need to map one-to-many using a mapping mechanism from **Dapper.FluentMap**, right? (_I'm not sure if this feature really exists there_)

If you try to configure this m

[2017-10-05 09:31] henkmollema commented on #63
@jr-araujo I see, but Dapper.FluentMap does not really know or care about relational mappings (one-to-many for example). The mapping logic of Dapper just hands FluentMap a type and a column name and want a property on that type in return.

So if you correctly configure the individual mappings for say, `Order` and `OrderItem`, I expect it to just work. What FluentMap _doesn't_ do is, assign a list

[2017-10-08 16:40] jeff-pang opened #64 "How to map int/bit from sql to bool in POCO"
Trying to query a table with a field of `bit(1)` to a POCO property that is `bool` by manual mapping (i.e `EntityMap<T>`). How do you do that?

[2017-10-08 16:44] jeff-pang commented on #64
My mistake, I set the field wrongly to a `VARCHAR` type which caused the error

[2017-10-08 16:44] #64 closed

[2017-11-14 10:58] JMFURY commented on #63
I am about to use Dommel and FluentMap to accomplish this. I'll post a gist for others to reference once I have it working.

These libraries are a lifesaver by the way. Much appreciated

[2017-11-17 15:47] henkmollema commented on #63
@nicolastakashi please re-open if you think this is still relevant.

[2017-11-17 15:47] #63 closed

[2017-12-09 12:33] henkmollema commented on #62
[Dapper.FluentMap 2.0.0-beta1](https://www.nuget.org/packages/Dapper.FluentMap/2.0.0-beta1) is just shipped.

[2018-01-28 20:03] Savij opened #66 "Make a dotnet core2 compatible version"
Love this mapping for dapper, but I need a version that will work with dotnet core 2. Please enter as an enhancement.

[2018-01-30 21:30] henkmollema commented on #66
It is already compatible with .NET Core 2.0 as it targets .NET Standard 1.3. Does something not work for you?

[2018-01-31 03:22] Savij commented on #66
When I added it to Visual Studio from NuGet it added dependencies to .net framework 4.6.2 (I think that was the version). Is there some other way to add it? I am using VS on the mac, so it could be wonky....

[2018-01-31 08:02] henkmollema commented on #66
That's odd. Try executing this in your project folder:
[code]

[2018-02-01 02:27] Savij commented on #66
Dude! I apologize! I must have clicked on the one above it in the nuget browser. My bad, its all good! Thanks for getting back to me!

[2018-02-01 02:27] #66 closed

[2018-02-01 07:11] henkmollema commented on #66
You're welcome!

[2018-03-25 21:17] #10 closed

[2018-04-06 14:12] jebbench opened #67 "ArgumentNullException when a field is named Date"
Using a class that looks something like:
[code]
And mapped:
[code]
Causes an `ArgumentNullException` exception to be thrown when the db row is deserialised. Renaming the field to PDate fixes this.

[2018-04-08 07:30] henkmollema commented on #67
Could you provide a full stack trace?

[2018-04-16 07:48] jebbench commented on #67
[code]

The exception doesn't bubble up anywhere so any advice on debugging this would be appreciated.

[2018-04-16 08:01] henkmollema commented on #67
That's odd. What does your query look like? And can you show me how you execute it? What database system are you using?

[2018-04-16 08:51] jebbench commented on #67
SQL:
[code]
Used like:
[code]
DB:
[code]

[2018-05-07 14:30] Leojet86 opened #68 "How does it works"
Hello,

Excuse the noob question here.  I'm not sure it's the proper place to ask this but I could not find any answer

I'm beginner in this kind of stuff so I don't really understand the goal of FluentMap.

At the moment, I'm using Dapper, and Dapper.fastCRUD inside a WPF MVVM application. I can do all CRUD stuff and it's really easy and nice.

I'm not sure I understand what FluentMap would add t

[2018-05-10 13:27] gustavozafra opened #69 "Does Dommel FluentMap support Sequence?"
I need to specify that the ID is generated by a sequence in Oracle I would need something like the example below. It's possible?
`Map(x => x.Id).IsKey().IsSequence("SEQUENCE_NAME").ToColumn("ID_ERCA");`

[2018-06-22 09:41] dmdymov opened #70 "Nullable decimal issue"
Dapper 1.50.5, Dapper.FluentMap 2.0.0-beta1.
[code]

DB:
[code]
This code throws `ArgumentNullException` at `Query` line. If `Value` is declared `decimal` it works just fine.

Stack:

[code]

[2018-07-29 10:07] buinauskas opened #71 "A way to map object property with a Id column"
Considering these models:
[code]

And the following `EntityMap` configuration:
[code]

Is there a way to map result of a SQL query with such a structure to my model?
[code]

Currently I'm getting an exception that a duplicate mapping for `Id` column has been declared:
[code]

[2018-08-09 16:31] ToddThomson opened #72 "Thank-you"
Just a quick thank-you from [Entities.Sqlite](https://www.github.com/achilles-software/entities.sqlite). We utilized a few of your ideas and used some modified source from your project. Your project license will be included as required.

[2018-08-11 09:58] henkmollema commented on #72
Thanks, great to hear!

[2018-08-11 10:14] henkmollema commented on #69
No, this is not possible. Sequences are not supported in all database provides Dapper.FluentMap and/or Dommel supports.

[2018-08-11 10:14] #69 closed

[2018-08-11 10:17] henkmollema commented on #67
According to the stack trace it seems this issues is an issue in https://github.com/StackExchange/Dapper rather than Dapper.FluentMap. You might want to open an issue there.

[2018-08-11 10:17] #67 closed

[2018-08-11 10:25] henkmollema commented on #70
What if you rename the `Value` property to something else? `Value` might be a reserved keyword in your database.

[2018-08-11 10:26] henkmollema commented on #71
You should create a separate mapping for the `Category` class:

[code]

[2018-08-11 10:30] #72 closed

[2018-08-15 13:20] akasexdev opened #73 "Create a Strong Name package version"
Can you please create a strong name version of this package? So it can be easily used with Dapper.StrongName package.

Thank you!

[2018-08-19 18:09] #71 closed

[2018-09-03 00:57] andreaLeo opened #74 "Support Multiple keys"
Hello Henk,

And thanks for the amazing job, i'm using your libraries now on my current project.
I was wondering if you planned to support multiple keys in your mapper ?

Regards

https://github.com/henkmollema/Dapper-FluentMap/blob/6fc00177b0fb3ecabed4e886b8e8af3bec698333/src/Dapper.FluentMap.Dommel/Resolvers/DommelKeyPropertyResolver.cs#L45

[2018-10-08 00:18] diegodfsd opened #76 "Protected property"
This is the first time I'm trying to use dapper-fluentmap v2 and I would like to have the set protected in my model classes but now it is not possible.

[2018-10-29 19:54] meghma commented on #70
This is definitely an issue
https://stackoverflow.com/questions/53052693/dapper-fluent-mapping-bug-for-nullable-decimal

[2018-10-29 20:10] henkmollema commented on #70
Taking a quick look at the source of Dapper, the failing call to `Emit(opcode, meth)` is probably [this one](https://github.com/StackExchange/Dapper/blob/master/Dapper/SqlMapper.cs#L3301) where the property setter is resolved from the type map (the type map which Dapper.FluentMap provides), not sure what is causing it to return `null` though.

I'll look further into this soon.

[2018-10-30 16:01] JonasHansen16 opened #77 "Combining Convention and EntityMap"
First of all a quick thank you for all the work you've put into this project.

Currently i'm trying to combine conventions and an entitymap to map a poco to one of my db tables.
The convention covers most of the database column names, however most of our primary keys have the same name. This obviously causes issues when working with joins.
Is it possible to let my convention handle the mapping for

[2018-11-05 19:09] chriswolf-nrg opened #78 "Doesn't seem to map for Dapper-1.50.5 / Dapper.Contrib-1.50.5"
I have an entity which looks like:
[code]
The database column is named "bcc_archived_at".  I have a custom mapping class, like so:

Custom mapping class:
[code]
FluentMap initialization before any other code:
[code]
`Dapper.Contrib` connection extension code for insert called like so:
[code]

This insert call throws:
[code]
Is FluentMap supposed to work with `Dapper.Contrib` extensions?

[2018-11-08 08:55] adiii4 opened #79 "Dispose Mappings"
`System.InvalidOperationException: 'Adding entity map for type 'XXX' failed. The type already exists. Current entity maps: XXX`

I currently execute the method `FluentMapper.Initialize(config => { ... });` inside a `UnitOfWork` class which I add as a Transient Service in ASP.NET Core.

Is there some way to dispose the mappings inside of my `UnitOfWork` class?

[2018-11-08 09:11] adiii4 commented on #79
Currently I check if there are already any `EntityMaps` or `TypeConventions` before I call `FluentMapper.Initialize()`

[code]

Nevertheless, I think it would be useful if you could dispose the mappings and type conventions manually or is there a drawback I don't see?

[2018-11-13 22:06] henkmollema commented on #79
`FluentMapper.Initialize` is meant to be called at application startup. I suggest you invoke it once somewhere in the `Program` or `Startup` class of your application.

[2018-11-13 22:08] henkmollema commented on #76
It's not possible for classes outside the class hierarchy to set protected properties. What are you trying to achieve?

[2018-11-13 22:18] henkmollema commented on #77
Currently this does not work out of this box. You might try this:

Add this class:
[code]

Then register a Dapper type map for each of your entity (after you called `FluentMapper.Initialize(...)`):

[code]

[2018-11-13 22:20] henkmollema commented on #78
Nope, it does not work with Dapper.Contrib. Shameless plug: it does work together with [Dommel](https://github.com/henkmollema/Dommel) using the `Dapper.FluentMap.Dommel` integration component.

[2018-11-13 22:20] #78 closed

[2018-11-15 14:18] adiii4 commented on #79
This would also possible. As I want to keep my current architecture (persistence layer), I will keep it like this.

Although I would love to have the feature for disposing any `EntityMaps` or `TypeConventions` as it could be useful for example when you would like to encapsulate the persistence layer from other layers.

[2018-11-16 07:56] adiii4 commented on #79
Your first solution fits perfectly for my case! Thank you for that. I totally didn't see those methods. I implemented them when my UoW disposes and it works 👍

Yes I think we could argue about and it is probably a smart idea, in my opinion, as you don't have to think about clearing the entity and convention collections.

[2018-11-16 08:33] henkmollema commented on #79
Great, glad it works out.

I guess clearing the configuration on each call to `Initialize` might be a little too disturbing. People could rely on it being additive. Perhaps a new method like `ClearConfiguration` makes more sense and is more easily discovered.

Anyways, I'm closing this out.

[2018-11-16 08:33] #79 closed

[2018-11-16 09:12] henkmollema commented on #70
@dmdymov this is definitely an issue with a specific `Value` property name. The `Nullable<T>` class has a `Value` property as well and Dapper.FluentMap is searching for properties on base classes and it finds the `Value` property of `Nullable<decimal>` and attempts to map to that.

This obviously is a bug and needs fixing. Perhaps you can try and use another property name in the meanwhile?

[2018-11-16 09:15] dmdymov commented on #70
@henkmollema, we'll try another property name. Thank you.

[2018-11-16 10:33] #70 closed

[2018-11-16 13:56] henkmollema commented on #76
Do you have an example of which protected properties you are trying to set?

[2018-11-16 20:03] henkmollema commented on #42
This have been fixed for applications targeting full .NET (e.g. 4.5 or higher) and .NET Core 2.0 and 2.1 in version 1.7.0: [NuGet](https://www.nuget.org/packages/Dapper.FluentMap/1.7.0) and [release notes](https://github.com/henkmollema/Dapper-FluentMap/releases/tag/v1.7.0).

Please re-open or create a new issue if the problem persists.

[2018-11-16 20:03] #42 closed

[2018-11-16 20:03] henkmollema commented on #43
This have been fixed for applications targeting full .NET (e.g. 4.5 or higher) and .NET Core 2.0 and 2.1 in version 1.7.0: [NuGet](https://www.nuget.org/packages/Dapper.FluentMap/1.7.0) and [release notes](https://github.com/henkmollema/Dapper-FluentMap/releases/tag/v1.7.0).

Please re-open or create a new issue if the problem persists.

[2018-11-16 20:03] #43 closed

[2018-11-16 20:04] henkmollema commented on #56
This have been fixed for applications targeting full .NET (e.g. 4.5 or higher) and .NET Core 2.0 and 2.1 in version 1.7.0: [NuGet](https://www.nuget.org/packages/Dapper.FluentMap/1.7.0) and [release notes](https://github.com/henkmollema/Dapper-FluentMap/releases/tag/v1.7.0).

Dapper.FluentMap.Dommel is updated as well: https://www.nuget.org/packages/Dapper.FluentMap.Dommel/1.6.0.

Please re-open o

[2018-11-16 20:04] #56 closed

[2018-11-23 19:15] diegodfsd commented on #76
I would like to have my class definition like that:
[code]

[2018-11-23 20:42] henkmollema commented on #76
And which part is not working with that class definition?

[2018-12-02 14:50] henkmollema commented on #73
The regular Dapper package (which we depend on) is not strong named. Using the Dapper.StrongNamed package could break application dependency trees. Therefore I can't strong name the Dapper.FluentMap package. I also won't create a second strong named NuGet package as that's against [the strong naming guidelines](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/strong-naming).

Dapp

[2018-12-08 07:44] acoskun commented on #79
Hi. I added this code to my data class constructor.  This is work for me.

if (!FluentMapper.EntityMaps.Keys.Contains(typeof(**<YourType>**)) && !FluentMapper.TypeConventions.Keys.Contains(typeof(**<YourType>**)))
            {
                FluentMapper.Initialize(config => {
                    //...
                });
            }

<img width="800" alt="ekran resmi 2018-12-08 10 43 12" src=

[2018-12-13 01:21] bobznguo opened #81 "Ignore property"
Currently, it seems that there's no way to completely ignore a property when mapping. It will always fall back to `DefaultTypeMap`.

[code]
If there's a `Image` column in `MyClass` table, that column will still be mapped to `MyClass.Image`.

Any plan to support the `Ignore()` option properly?

[2018-12-15 01:01] jrshu opened #82 "Map Nullable property using convention"
When I use the `Convention.Properties<T>` method to define a convention for a nullable type, it strips the nullable part and uses the underlying type instead:
[code]
This causes the properties of any nullable types not to be properly mapped. Is there any reason why you don't want to use the nullable type directly? And is there an alternative preferred way to map nullable properties?

Thanks!

[2019-01-12 19:45] #73 closed

[2019-02-18 11:38] jmalczak opened #83 "FluentMap File Load Exception with Dapper 1.50.7"
Hi. Following test app throws file load exception on .net core 2.2

[code]
With following package references
[code]

[2019-02-18 18:52] henkmollema commented on #83
Can you provide a stack trace?

[2019-02-21 15:32] jmalczak commented on #83
Hi

Sorry for the late reply. Here are exception details including stack trace:

[code]

[2019-02-21 21:16] henkmollema commented on #83
Is there a reason you explicitly need v1.50.7? What happens if you remove `<PackageReference Include="Dapper" Version="1.50.7" />` from the project file.

[2019-02-21 21:34] jmalczak commented on #83
No I don't need it to be honest. When I either remove dapper as separate dependency and use only transitive dependency via FluentMap. Or keep it as separate dependency and downgrade to 1.50.5 it works fine. But I saw requirement Dapper (>= 1.50.5) during nuget install which is kind of correct for 1.50.7.

Thanks

[2019-02-21 21:36] henkmollema commented on #83
Thanks for the investigation. Obviously it should just work. I'll try to get a repro on my machine.

[2019-02-21 21:54] jmalczak commented on #83
No problem, thanks for the library. If you will figure out what is wrong, that it doesn't work by default, please put a note here.

Thanks again!

[2019-02-26 02:32] pleasecallmemaoxian commented on #83
I also encountered the same problem on .net framework 4.5.2

[2019-03-07 11:27] dsokhach opened #84 "Need instance initialization for Integration tests in ASP.NET Core to be working"
I'm writing integration tests in ASP.NET Core projects, like described here: https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-2.2.
Calling [CreateClient();](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.testing.webapplicationfactory-1.createclient?view=aspnetcore-2.2) start application in memory. And single instance of application is OK, ho

[2019-03-08 16:38] jarrettv commented on #83
Dapper fixed this problem in the latest 1.60.1 version

[2019-03-19 04:36] SIkebe commented on #83
I've confirmed this issue fixed with Dapper v1.60.1, too.

[2019-03-20 11:56] hyphmongo commented on #84
As a quick fix you might be able to clear the mappings before initialize

`FluentMapper.EntityMaps.Clear();`

[2019-03-21 08:24] dsokhach commented on #84
@hyphmongo  thank you for pointing this. I had the same approach initially with automapper. It indeed helps until there are about less than 4-6 tests (probably depends on how many core running machine has). However if there more it will break random test.

[2019-03-22 16:56] henkmollema commented on #84
Dapper.FluentMap is a different case than AutoMapper. Dapper.FluentMap sets up a type map for Dapper which cannot be done via DI. Whereas with AutoMapper you consume the mappings yourself when you inject `IMapper` in your code. I don't see a way how to use Dapper.FluentMap concurrently, I usually disable parallel test execution in that case.

[2019-03-26 22:34] markofranjic opened #85 "Map Nested Object"
Hi,

I tried map nested object over FluentMap.
I call store procedure and I got columns like this.
Id
Description
Manufacture_Id
Manufacture_Name
Category_Id
Category_Name
Status_Id
Status_Name

Columns which have underscore they are nested type.

[code]
I call store procedure like this
`var result = connection.Query<Asset>("dbo.GetAsset", CommandType.StoredProcedure);`

And map doesn't work

I ma

[2019-03-28 12:57] #84 closed

[2019-03-28 13:18] henkmollema commented on #82
This is a bug. I meant to normalize the property types to non-nullables so that when you define a convention for `int` properties it is also applied to `int?` properties. However, I did not resolve the underlying type for the property types themself which causes this mismatch.

I'll change the behavior to the following:
- When defining a convention for `int` (e.g. `Properties<int>`) it will be app

[2019-03-28 13:30] #82 closed

[2019-03-28 13:52] #81 closed

[2019-03-28 13:54] #76 closed

[2019-03-28 13:58] henkmollema commented on #83
Dapper.FluentMap v1.8 is release with the updated Dapper package.

[2019-03-28 13:58] #83 closed

[2019-04-13 06:37] pauldendulk opened #86 "Question about mapping attributes"
Hi, I am currently looking for the simplest way to do column mapping in Dapper. Your introduction [page mentions](https://github.com/henkmollema/Dapper-FluentMap#introduction) 'mapping attributes'. Does Dapper support some kind of column mapping at all? I could not find it so far.

[2019-04-13 11:04] henkmollema commented on #86
AFAIK Dapper does not support attribute mapping out of the box. It's pretty simple to add one to your application though. You can check out the implementation I use in Dommel (a small ORM library on top of Dapper): https://github.com/henkmollema/Dommel/blob/3aef41f139a785ab73b7a92aa3eef2e5627947d9/src/Dommel/DommelMapper.DapperTypeMap.cs

[2019-04-13 11:59] pauldendulk commented on #86
Thanks for you answer. The link to your implementation is very helpful.

I also tried FluentMap for mapping. The configuration is simple and powerful but I don't understand how it should be hooked into Dapper. It did not work for me when using Dapper.Contrib's Insert method. Should it work with that? Or does it only apply to Dapper core? If so, how? Or do i need to use Dommel to take advantage of

[2019-04-13 12:05] henkmollema commented on #86
By default FluentMap only hooks into the type mapping of just Dapper. Other ORMs on top of Dapper usually have their own implementation to figure out the table/column names of your entities. For instance, they might utilize attribute mapping (like Dommel does) or provide their own mapping configuration.

In the case of Dommel there is a FluentMap extension which hooks into the extensibility points

[2019-04-13 13:29] pauldendulk commented on #86
ah, I see. The fact that Dommel was mentioned on the introduction page initially confused me. What would have helped me is some examples of Dapper calls that make use of FluentMap. So, they would first show how to configure FluentMap, and perhaps explain the problem they solve, and then add some examples of Dapper calls that use these configurations.

I now see that Dapper.FluentMap.Dommel is part

[2019-04-13 18:18] #86 closed

[2019-05-04 19:29] vbaros commented on #85
Did you find the solution for this issue?

[2019-05-14 22:18] JohnFredMeyer opened #87 "Issues with tuples"
<img width="1135" alt="Issue" src="https://user-images.githubusercontent.com/40145199/57735947-e3fb8280-766b-11e9-96f1-ae5f2ad3b73a.png">

Seeing issue when working with Tuple. If items in tuple have same property name it throws a mapping error saying item was already mapped. Just wondering is there a way to do this with this library? If not no worries I can fall back to manually mapping with dapp

[2019-05-15 13:01] #87 closed

[2019-05-21 13:28] tavaresaraujo opened #88 "Dommel"

[2019-05-21 13:28] #88 closed

[2019-05-27 12:00] disklosr opened #89 "Clarify what databases / sql dialects are supported"
This doesn't support oracle db I suppose (from looking at the code). Would be nice to have the list of supported dbs in documentation.

[2019-05-29 07:30] henkmollema commented on #89
Why would it not support Oracle? This library is just a mapping layer on top of Dapper, and Dapper supports Oracle AFAIK.

[2019-06-09 23:06] zadykian opened #90 "Trouble with ToTable() method"
Hi, Henk!
I've found that there are two interfaces with same names:
Dapper.Dommel.FluentMapping.IDommelEntityMap
Dapper.FluentMap.Dommel.Mapping.IDommelEntityMap
It caused a problem when I tried to specify table name via ToTable("tableName") method:
[code]
Here is a save cast of client's DommelEntityMap to Dapper.FluentMap.Dommel.Mapping.IDommelEntityMap, but base class DommelEntityMap<TEntity> im

[2019-06-25 15:37] HyperboLemuR commented on #85
Also looking for a solution to this.  Below is what I am looking at

[code]
[code]

[code]

[code]

the json for this object looks like:

[code]

where i would expect it to look like

[code]

[2019-07-02 02:01] grandsilence opened #91 "Property name transform configuration not working"
Hi. I'm trying to convert `MyCustomProperty` to `my_custom_property` column (snake case) globally (for Postgresql). But `Convention` not applying to my model or even assembly namespaces.

Initialization:
[code]

My `Convention`:
[code]
**ToSnakeCase()** working well.

Result SQL:
[code]
Expected SQL:
[code]

`PropertyTransformConvention` constructor called but column names stays unchanged.
Thank y

[2019-07-11 20:44] henkmollema commented on #91
My guess is that mixing manual mapping and conventions does not work. Can you try it without configuring the manual mapped?

[2019-07-11 21:39] grandsilence commented on #91
Without manual mapped it has the same behavior

[2019-07-26 17:13] azilberbaum opened #94 "ReadOnly Fields"
Would love to have a ReadOnly property like there is for Ignore

[2019-07-27 09:04] henkmollema commented on #94
I don't think I understand. What are you trying to achieve?

[2019-07-27 12:00] azilberbaum commented on #94
Basically I want to add a field I can populate in my model via a query but not have it try to save to the database.

Example could be a computed field, or a count field.

If I use ignore it won’t populate, so really need read only property.

This would be huge for me!

Sent from my iPhone

[2019-08-21 12:54] patricksegantine opened #102 "Invalid column name when executing a command (insert or update) a second time in another entity"
The exception occurs in the following cases:
First: I execute one of the Add or Update commands by passing an entity, for example Customers.
and then execute any of the commands on another entity, such as Orders.

No matter the order of execution, the message that appears is invalid column on the second execution.

It seems that the problem is in mapping the base class (Multi Mapping Id) that is i

[2019-08-29 16:04] hessam commented on #85
I have the same issue and cannot afford it. Any solution?
`    public class ComputedHistoryMap : EntityMap<ComputedHistory>
    {
        public ComputedHistoryMap()
        {
            Map(x => x.Start.Time).ToColumn("StartTime");
            Map(x => x.Start.Type).ToColumn("StartType");
            Map(x => x.End.Time).ToColumn("EndTime");
            Map(x => x.End.Type).ToColumn("EndType");

[2019-09-03 17:02] jonathanschein commented on #91
Hi,

Is not possible to configure convention mapping and then override only one property for a model?

Thanks!

[2019-09-17 18:48] grandsilence commented on #85
Nested objects still not working( That's very strange behavior. Any fix?

[2019-09-20 14:54] Joao98Victor commented on #85
https://github.com/henkmollema/Dapper-FluentMap/issues/46

I'm facing the same problem, this older issue was oppened about it, but I guess it still without a solution. @g-adolph gave us a solution that can work in his gist and he mentioned about doing a pull request.

https://github.com/henkmollema/Dapper-FluentMap/issues/46

[2019-10-14 22:42] vvrkumar opened #98 "Fluent map - map results to the same object"
Hello There,
I am new to the FluentMapper.

I have created a mapper class which maps 5 different columns to the object's properties.
But one of my query returns only two columns and another query returns all 5 columns.
Should i create two different mappers with two different custom domain classes?

If the query is not returning a column but the mapper tries to map to a property cause any issues?

[2019-10-21 16:00] #98 closed

[2019-10-24 17:37] TroySchmidt opened #99 "Entity Maps for custom table names BETA"
Dapper.FluentMap.Dommel is unlisted.  How do we define the mappings when using the beta packages of Dapper.FluentMap and Dommel??

[2019-10-29 21:29] StefanJanssen95 commented on #91
I have the same issue, did you have any luck solving it?

The project it is in is open source and I pushed it in the state with the error so it can be looked at:
https://github.com/StefanJanssen95/steam-web-api-wrapper/tree/2fe3d1c16d9cc9b12477f3d251a16dd4fc53d4e4

[2019-10-30 08:37] StefanJanssen95 commented on #94
If I understand the feature suggestion correctly another use would be for a ``Created`` field. It will get a default value from the database when inserting and you don't want to keep supplying it for every update.

[2019-10-30 20:05] StefanJanssen95 commented on #91
I found out why my code was not working. For retrieving data I used my own SQL function which was executed by Dapper itself. For updating I was using the Dapper.Contrib function which does not use the configured column names.

[2019-11-04 16:09] TroySchmidt commented on #94
@azilberbaum  I have been able to accomplish this with public get and private set on the accessibility of the model property.  The behavior I experience is the property is populated on the selects and ignored on the insert and updates.  (i.e. computed fields)

[2019-11-10 15:51] AlexTorianyk opened #101 "Is there a way to drop the custom mappings?"
I'm reading data from one database into another with different column names, it would be useful if there was an option of reseting the mappings to defaults.

[2019-11-25 23:56] DiegodGH opened #103 "Invalid column name mapping properties of base class"
I'm working with inheritance, but, when i map properties of a base class, i'm getting the error: "Invalid column name <name>".
I'm using the forDommel() line code too.

[2019-12-20 09:05] melody-dev opened #104 "Mapping problem with subclass"
Sample for this case

First is super class like below

[code]
Second is subclass like below
[code]

Than i create mapper and initial mapper
[code]
Everything work as properly when i set return type is `User` in query

But when i try to change return type from `User` to `AdminUser` in the same query it look like mapping doesn't work, **UserId** become null.

Is any some extra work for this solution

[2019-12-28 02:19] TroySchmidt commented on #90
How did you resolve using this?  I am having the same issue when trying to use version 2 of Dommel.

[2019-12-28 08:52] zadykian commented on #90
As I said, I had to explicitly implement both DommelEntityMap and Dapper.FluentMap.Dommel.Mapping.IDommelEntityMap interfaces.

[2019-12-28 11:34] henkmollema commented on #90
`Dapper.Dommel` is a different package (not mine). That's why those interfaces are incompatible.

Also, `Dapper.FluentMap` / `Dapper.FluentMap.Dommel` (which are mine) are not yet compatible with Dommel 2.0.

[2019-12-29 23:15] TroySchmidt commented on #90
I upgraded Dapper.FluentMap.Dommel to be compatible and will be submitting a PR for it.

[2020-01-04 03:08] TroySchmidt commented on #99
#105 Provided PR to remedy using Dommel v2 and FluentMapping.

[2020-01-21 12:18] lucaxchaves commented on #74
Can i take this issue?

[2020-01-24 21:31] gkurbesov commented on #57
Will this functionality be implemented? Lack of Ignore properties makes working with Dommel difficult.

I can not do this:

[code]

[2020-04-10 00:07] tariq-n-ahmad commented on #78
Was this ever fixed in Dapper?

[2020-05-04 19:04] WellspringCS opened #112 "data not mapping"
I've been scratching my head for the past 6 hours. I cannot get the convention-based approach to work. My db is in Postgres so it's the standard "convert-to-snake-case" situation.

Clues along the way:
CustomTableNameResolver() does run. A stop in the code is reached.
ColumnConventionMapper code never runs. (Might only get run when I use SqlBuilder.

 Any thoughts? My startup.cs code includes

[co

[2020-05-04 19:14] WellspringCS commented on #112
I'm also confused regarding the relationship between FluentMapper.Initialize() and DommelMapper.

I find that I must user DommelMapper to get table names corrected automagically. But DommelMapper does not run any code for the column names, though I have it set up to do so.

Once again, I am sure a working demo would set me straight. I just cannot find one.

[2020-05-04 21:14] henkmollema commented on #112
Which versions of Dommel and Dapper FluentMap are you using?

[2020-05-04 21:20] WellspringCS commented on #112
[code]

I don't have any other packages specific to this topic. You're not going to tell me it's a missing include? Yikes. During the churn I at one point removed this:

[code]

If there's a magic combo, I'm on the edge of my seat to know it. :)

[2020-05-04 21:40] henkmollema commented on #112
Hmm, the 1.x versions are supposed to work together. Could you try that?

[2020-05-04 21:45] WellspringCS commented on #112
I'm so desperate, I will try *anything* ... but while I'm trying, could you clarify? What includes are you suggesting? Something like...

[code]

If it speaks to my desperation, I was reading the code in here just now:
https://github.com/StackExchange/Dapper/pull/1349/files

...Wondering if a new version of Dapper is about to provide some of this functionality internally.

[2020-05-04 21:47] henkmollema commented on #112
That seems fine. This does not however:

[code]

What are those?

[2020-05-04 22:08] WellspringCS commented on #112
[code]

or were you meaning why am I using them?

[2020-05-04 22:11] WellspringCS commented on #112
Sorry to be providing info by drip feed. is there a demo project anywhere that shows a working sample (even a tiny one) that from end-to-end handles Dommel's version of Contrib as well as fluent translation of entities to Postgres snake_case from standard C# classes?

[2020-05-04 22:18] WellspringCS commented on #112
Ok, so to share a minor victory and maybe shed light...

This actually works:

[code]

[2020-05-05 15:27] henkmollema commented on #112
Did you take a look at the docs? You should either use
[code]

Or
[code]

Don't use `DommelMapper.SetTableNameResolver` directly. You should create a convention and add that to the Initialize method.

[2020-05-05 15:45] WellspringCS commented on #112
@henkmollema if I had been doing this for years or even months, I'd remember exactly where and how my problems arose, but my background in FluentMapper/Dommel/Contrib is measured in hours/days. Even where Dapper is concerned my depth has been shallow. So I cannot elaborate with clarity on all routes taken.

THAT SAID...

My experience with Dapper.DefaultTypeMap.MatchNamesWithUnderscores and unders

[2020-05-05 15:49] henkmollema commented on #112
There is a sample at https://github.com/henkmollema/Dapper-FluentMap#convention-based-mapping. If that doesn't work please let me know and I will try it tomorrow.

[2020-05-05 15:51] WellspringCS commented on #112
@henkmollema  that was the code I was staring at all yesterday. Could very much be entirely my failure to see what I was doing wrong, but again, it wasn't for lack of reading. :)

[2020-05-05 15:55] WellspringCS commented on #112
BTW I am certain that I tried for many hours on variations that did not include Dapper.DefaultTypeMap.MatchNamesWithUnderscores -- it was because that wasn't going to work with Contrib nor Dommel for that matter that I attempted to use a clean combo of just Dommel/FluentMapper . [Thus my comment on SO here...](https://stackoverflow.com/questions/50246846/how-to-use-dapper-fluentmap-in-dapper/61569

[2020-05-05 17:04] henkmollema commented on #112
It seems that conventions aren't working with Dommel. I'm releasing a fix in a few hours.

[2020-05-05 17:17] WellspringCS commented on #112
I'll definitely give it a whirl when it's ready. Thx in advance.

[2020-05-05 17:53] henkmollema commented on #112
`Dapper.FluentMap.Dommel` version 1.7.1 should fix it. This works for me:

[code]

[2020-05-05 17:55] henkmollema commented on #91
This should be fixed in https://www.nuget.org/packages/Dapper.FluentMap.Dommel/1.7.1.

[2020-05-05 17:55] #91 closed

[2020-05-05 17:56] #89 closed

[2020-05-05 17:56] WellspringCS commented on #112
Cool! I'll take a look and let you know how I fared. I'm wrapping up my custom fallback option but will hit this today. Thx @henkmollema

[2020-05-05 17:57] henkmollema commented on #94
Not sure what to do here. Please re-open if you have an example of desired behavior (or a PR! :-))

[2020-05-05 17:57] #94 closed

[2020-05-05 20:06] WellspringCS commented on #112
@henkmollema  you meant 1.8.1, I presume? :)

[2020-05-06 01:57] WellspringCS commented on #112
@henkmollema I've had the chance to try out 1.7.1 now. Notes below.

I'm not sure what I might be doing improperly, but I can say that the route shown here was the one that worked for my code, whereas others simply did not. (Once again, I did try a number of flavors...)

[code]

FWIW my table was really a view, so the postgres name was public.vw_clients and this needed to be mapped to VwClients. A

[2020-05-06 01:58] #112 closed

[2020-05-14 06:48] bokmadsen opened #113 "How to handle multiple mappings to same model?"
Can Dapper-FluentMap handle mutiple mappings to same model? I have a model I use for 2-3 different requests, and I can't garantie same column names each time:
Request1 (col1, col2, col3) -> Model (prop1, prop2, prop3)
Request2 (col2, col3, col3) -> Model (prop1, prop2, prop3)

From what I can read, this won't be possible, because the EntityMapper only takes the destination (Model) as type.

I ther

[2020-05-17 02:05] mxmissile commented on #113
I ran into this today, can't get it to work either.  Unforfunate.

[2020-05-22 08:11] damianos-pappas opened #114 "Throws InvalidCastException when a string property has a name that conflicts with the String Type built in function members"
I have an Entity  with a property named "Format".
When mapping,  FluentMap throws:

`InvalidCastException: Unable to cast object of type 'System.Reflection.RuntimeMethodInfo' to type 'System.Reflection.PropertyInfo'.
Dapper.FluentMap.Mapping.EntityMapBase<TEntity, TPropertyMap>.Map(Expression<Func<TEntity, object>> expression)`

This is caused probably because in the [ReflectionHelper.cs](https://

[2020-05-28 19:12] henkmollema commented on #114
Would you like to send A PR?

[2020-06-16 08:48] gkurbesov opened #117 "Could not load type 'IColumnNameResolver' from assembly Dommel, Version=2.0.0.0"
i'm using Dapper.FluentMap and i see exception when call FluentMapper for Dommel.

[code]

![image](https://user-images.githubusercontent.com/39064929/84752904-08403600-afc7-11ea-884b-cfedd3f95932.png)

my nugets:

![image](https://user-images.githubusercontent.com/39064929/84753141-4d646800-afc7-11ea-8db0-bf106328ab38.png)

[2020-06-17 00:50] igordibuccio commented on #117
I have this same problem. Can anyone help?

[2020-06-27 05:22] TroySchmidt commented on #117
https://github.com/henkmollema/Dapper-FluentMap/pull/105
I submitted a pull request months ago to resolve the issue since a major revision has breaking changes for the dependency.  It hasn't been approved and now v2 is official.

[2020-07-24 08:33] henkmollema commented on #74
This will be fixed by #105.

[2020-07-24 08:34] #74 closed

[2020-07-24 08:36] #90 closed

[2020-07-24 08:36] #99 closed

[2020-07-24 08:37] henkmollema commented on #101
There is currently no way of doing that and I'm not planning to add this feature as well.

[2020-07-24 08:37] #101 closed

[2020-07-24 08:39] #103 closed

[2020-07-24 08:40] henkmollema commented on #104
You'll need to create a mapping for `AdminUser` as well.

[2020-07-24 08:42] henkmollema commented on #113
Unfortunately this is not supported. You'll have to create distinct models.

[2020-07-24 08:42] #113 closed

[2020-07-24 08:43] #117 closed

[2020-07-30 22:43] nullpainter commented on #117
Hi @henkmollema , can you indicate why this issue was closed? Is there a way to use Dapper.FluentMap with Dommel 2, or should we consider Dapper.FluentMap to no longer be supported with Dommel?

[2020-07-31 06:00] henkmollema commented on #117
Because there is a PR by @TroySchmidt which fixes this issue.

[2020-07-31 15:21] gkurbesov commented on #117
@henkmollema , @TroySchmidt? But it still doesn't work. I updated all dependencies and it also throws an exception

[2020-08-18 20:28] guipcarvalho commented on #117
I'm having the same issue here

[2020-09-16 15:24] rkiguti opened #122 "Insert issue when key column is not identity"
I have a table where the key is not auto generated. After upgrade to v2 the INSERT command fails.

I did a SQL Server profile to get the command and the key columns are ommited from my SQL.

I used the method SetGeneratedOption to DatabaseGeneratedOption.None.

My map:

`ToTable("TABLE_NAME");`
`Map(p => p.Key1).ToColumn("KEY1").IsKey().SetGeneratedOption(DatabaseGeneratedOption.None);`
`Map(p =>

[2020-09-17 20:20] enterpub opened #123 "Even DatabaseGeneratedOption.Computed is used for property, FluentMap.Dommel still generates column and parameter names in insert\update query"
.NET Core 3.1
Win 10 64 bit
Dommel 2.1.0
Dapper 2.0.35
Dapper-FluentMap.Dommel 2.0.0

Even DatabaseGeneratedOption.Computed is used for property, Dapper.FluentMap.Dommel still generates column and parameter names in insert\update query, but it should skip them.

[code]
But the insert and update has "RowVersion" and "@RowVersion" in result query.

How to archive not include such column in query?

[2020-09-22 15:04] Samuel-Rodrigues opened #124 "ToTable is not working"
Hello friends. I'm passing a value in **ToTable ("UF")**, but the fluent mapper always takes the name of the object **"UfModel".**
Any tips? Thank you

    public static class RegisterMappings
    {
        public static void Register()
        {
            FluentMapper.Initialize(config =>
            {
                config.AddMap(new UfModelMap());
                config.ForDommel();

[2020-09-22 18:18] henkmollema commented on #122
Can you show the generated SQL?

[2020-09-22 18:20] henkmollema commented on #123
Can you show the Dapper.FluentMap initialization code. Did you call `ForDommel()` at application startup?

You can also try to use the `[DontMap]` or `[Ignore]` attribute on the property of the `ChargeDb` class. This will omit the column from insert/update statetements.

[2020-09-22 18:21] henkmollema commented on #124
- Are you use `RegisterMappings.Register()` is called at startup.
- Which versions of Dapper.FluentMap, Dommel and Dapper.FluentMap.Dommel are you using?

[2020-09-22 18:31] Samuel-Rodrigues commented on #124
verssions: Dapper.FluentMap 2.0.0, Dapper.FluentMap.Dommel  2.0.0, Dommel 2.1.0

I created this static class:
[code]

And I call on startup:
[code]

[2020-09-22 18:51] enterpub commented on #123
Hi, I do call `ForDommel()`

[code]

It is being called in `Startup.cs`:

[code]

[2020-09-22 18:52] Samuel-Rodrigues commented on #124
@henkmollema I'm using the Dapper.FastCrud
Is it incompatible?

My base repository:
[code]

[2020-09-22 19:58] rkiguti commented on #122
I changed the code to use pure Dapper and I write my own insert command. But I can back my code to get the real SQL if necessary.

But the generated SQL in Profiler was like this:
"INSERT INTO TABLE_NAME(COL1, COL2) VALUES(@COL1, @COL2)"

When I removed the IsKey() method from Key2 for example the SQL changed to:
"INSERT INTO TABLE_NAME(KEY2, COL1, COL2) VALUES(@KEY2, @COL1, @COL2)"

And when I re

[2020-09-22 20:01] rkiguti commented on #122
To complement my issue my project uses .NET Framework 4.8 and my nuget packages are:
Dommel (v2.1), Dapper.FluentMap.Dommel (v2.0), Dapper.FluentMap (v2.0), Dapper (v2.0.35).

[2020-09-25 13:44] rkiguti commented on #122
My real code:

public class PessoaVinculoMapper : EntidadeMapper<PessoaVinculo>
{
	#region Construtores

	public PessoaVinculoMapper()
	{
		ToTable("PESSOA_VINCULO");
		Map(p => p.CodigoDependente).ToColumn("IDFK_PESSOA_VINCULADA").IsKey();
		Map(p => p.CodigoPessoaTipoVinculo).ToColumn("IDFK_PESSOA_TIPO_VINCULO");
		Map(p => p.CodigoResponsavel).ToColumn("IDFK_PESSOA_VINCULO");
		Map(p => p.PodeR

[2020-10-06 23:10] kaanacar34 commented on #5
public class TypePrefixConvention:Convention
    {
        public TypePrefixConvention()
        {

            Properties<int>()
                .Where(c => c.Name == "Id" )
                .Configure(c => c.HasColumnName("BrandId"));

            Properties<int>()
                .Where(c => c.Name == "Id")
                .Configure(c => c.HasColumnName("CategoryId"));

        }

    }

I want

[2020-10-06 23:11] kaanacar34 commented on #5
My Entities ;

 public class Category
    {
        public int Id  { get; set; }
        public string Name  { get; set; }
        public string Definition  { get; set; }
        public int ParentId  { get; set; }

    }

  public class Brand
    {
        public int Id  { get; set; }
        public string Name  { get; set; }
        public string Definition { get; set; }
    }

 {
        public

[2020-10-06 23:13] kaanacar34 commented on #5
Sql Query;

Select p.Id, p.Name, p.Definition,
                    p.UnitId, u.Name, u.Definition,
                    p.CategoryId, c.Name, c.Definition,
                    p.BrandId, b.Name, b.Definition
                    FROM Products p
                    LEFT join Units u ON p.UnitId = u.Id
                    LEFT JOIN Categories c ON c.Id = p.CategoryId
                    LEFT JOIN Bran

[2020-10-06 23:15] kaanacar34 opened #125 "DAPPER FLUENTMAP Multiple properties with same column name causes exception"
My Entities ;

public class Category
{
public int Id { get; set; }
public string Name { get; set; }
public string Definition { get; set; }
public int ParentId { get; set; }

}
public class Brand
{
public int Id { get; set; }
public string Name { get; set; }
public string Definition { get; set; }
}

{
public int Id { get; set; }
// public int UnitId { get; set; }
public Unit Unit { get; set; }
// p

[2020-11-08 16:48] drma-dev opened #126 "System.Exception: 'Duplicate mapping detected. Property 'Level' is already mapped to column 'Level'.'"
[code]

I saw that you had a similar ticket. I don't know if it's the same situation, but the error is the same.

[2020-11-08 17:01] drma-dev opened #127 "System.AccessViolationException: 'Attempted to read or write protected memory. This is often an indication that other memory is corrupt.'"
[code]

As in my previous ticket, I tried with just one mapping to see if it worked, but it is generating another error.

[2020-11-10 08:23] henkmollema commented on #126
Do you have a full stack trace?

[2020-11-10 08:23] henkmollema commented on #127
Do you have a full stack trace?

[2020-11-10 13:34] drma-dev commented on #126
[code]

It doesn't help much. But this is easy to reproduce, because I believe that the component is not recognizing attributes of another class

[2020-11-10 13:46] drma-dev commented on #127
There is no stacktrace, as it is an exception generated by the visual studio itself. But this is easy to reproduce, because I believe that the component is not recognizing attributes of another class

[2020-11-18 14:12] IainCoSource commented on #117
{"Could not load type 'IColumnNameResolver' from assembly 'Dommel, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null'.":"IColumnNameResolver"}
![image](https://user-images.githubusercontent.com/49510009/99540889-cc1b6200-29b8-11eb-85bb-546fa5e0fe60.png)

Came across this issue today

[2020-11-20 18:51] drma-dev commented on #126
Are there no plans to support attributes of other classes? Like value objects?
@henkmollema

[2021-01-22 13:55] BelvedereHenrique commented on #103
Do we have a fix on this? I'm facing the same issue.

[2021-01-22 13:59] BelvedereHenrique commented on #103
My base class
[code]

My entity
[code]

Mapping:
[code]

FluentMap setup:
[code]

The query:
[code]
The error:
`System.Data.SqlClient.SqlException (0x80131904): Nome de coluna 'Status' inválido.`
(invalid Status column)

[2021-01-26 09:01] cosmo0 commented on #67
Got the same error in 2021. My mistake was having only a constructor with parameters and non-settable properties (the class was copied from somewhere else). The error message was only about ArgumentNullException and meth.

[2021-02-11 22:37] rsfurlan90 commented on #122
I can confirm that this issue is still occurring. It seems that calling the method SetGeneratedOption(DatabaseGeneratedOption.None) for a given property, as pointed by @rkiguti, has no effect when Dommel generates the query, because it will try to get the DatabaseGeneratedAttribute, thus ignoring the value set inside the DommelEntityMap. It only works when the Attribute is present.

Also, the inse

[2021-02-12 17:52] rsfurlan90 commented on #123
This issue seems to be similar as to #122

[2021-02-13 22:53] blai30 commented on #77
Any update on this? I would love to define one `Convention` and zero entity mappers then have Dommel automatically map my PascalCase POCO properties to my snake_case MySQL columns/tables

[2021-02-23 19:56] jgador commented on #127
I encountered this error when I have nested types in my mapping for CustomPropertyTypeMap.

[2021-06-02 12:19] #122 closed

[2021-06-16 03:03] babbitt9 opened #130 "How can I make the database to use the default value I set,How to map."
My program use Sqlite 3 and I set a  datetime field with the defalut value of datetime('now', 'localtime').

1. When I map the field with the Ignore method, it's ok to insert a new record ,the field is filled a correct datetime value(my server time).But when I get the record(by ExecuteReader)  from database ,someting is wrong (System.NotImplementedException) because the field is ignored.
2. I try

[2021-06-29 15:10] dusansmail commented on #114
Same problem exists with other types.
For example, mapping TimeSpan Duration { get; set; } property fails with same error message,
because TimeSpan type has Duration() function.

[2021-07-07 23:06] ahmedsafan86 opened #132 "Dapper.FluentMap.Dommel nuget package is not updated since 8/23/2020"
https://www.nuget.org/packages/Dapper.FluentMap.Dommel/
![image](https://user-images.githubusercontent.com/6296474/124838947-238e3280-df88-11eb-8f44-ae29c1f16548.png)

[PR 129](https://github.com/henkmollema/Dapper-FluentMap/pull/129) contains a critical fix, @henkmollema can you please update it?.

[2021-08-11 10:29] ddimkovikj commented on #130
@babbitt9 can you share the POCO class and the corresponding map so we can reproduce this issue?

[2021-11-22 15:31] DanieleSky opened #133 "Ignore() exception"
Hi,
when a property is marked with "ignore()" the Select throw an exception "Not implemented exception"
![image](https://user-images.githubusercontent.com/11925650/142888815-d04b064b-9353-455b-94ca-89b3bb877c4a.png)

This is the mapping
![image](https://user-images.githubusercontent.com/11925650/142888965-e027579a-7813-4ea1-80c0-04316b3f4173.png)

[2021-11-23 09:33] DanieleSky commented on #123
Is this bug fixed?

[2021-11-23 10:58] enterpub commented on #123
@DanieleSky , I'm afraid it is not. But I did not check

[2021-11-29 04:56] jkuek commented on #132
I first came across Dommel today and don't use it in production, but it seems to me that the new builds are now just called Dommel rather than Dapper.FluentMap.Dommel

https://github.com/henkmollema/Dommel

The latest version at the time of writing is 2.3.3

[2021-12-15 06:43] PavelFischerCoupa commented on #132
@jkuek, dommel and fluent map are different projects.
@ahmedsafan86 any news about new release?

[2022-07-07 04:33] lndr27 commented on #133
Same problem here. Waiting for the PR #131 to be approved.

[2022-10-19 14:07] snios commented on #102
@henkmollema  I got the same issue but cant do the same workaround as you did. Anyone got any input on this?

[2022-11-21 08:58] #102 closed